/* CREATE PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */

header {
   background-image: url('../images/MK8.jpg'); 
}
#WaterPark {
  background-image: url('../images/water_park.jpg');
}
#MarioKartStadium {
  background-image: url('../images/Mario_Kart_Stadium.jpg');
}
#SunshineAirport {
  background-image: url('../images/sunshine_airport.jpg');
}
#CloudtopCruise {
  background-image: url('../images/Cloudtop_Cruise.jpg');
}
#CheeseLand {
  background-image: url('../images/cheese_land.jpg');
}
#DragonDriftway {
  background-image: url('../images/dragon_driftway.jpg');
}
.progress{
  animation:  3s normal forwards;
  box-shadow: 0 10px 40px -10px #02e990;
  border-radius: 100px;
  background: #09d145;
  height: 30px;
}
.progress-bar{
  background: rgba(0, 76, 241, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 5px;
  height: 40px;
  width: 300px;
  margin-top: 10px;
}
h4 {
  margin-top: 10px;
}
@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}
/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}