/* CREATE PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */

header {
   background-image: url('../images/MK8.jpg'); 
}
#WaterPark {
  background-image: url('../images/water_park.jpg');
}
#MarioKartStadium {
  background-image: url('../images/Mario_Kart_Stadium.jpg');
}
#SunshineAirport {
  background-image: url('../images/sunshine_airport.jpg');
}
#CloudtopCruise {
  background-image: url('../images/Cloudtop_Cruise.jpg');
}
#CheeseLand {
  background-image: url('../images/cheese_land.jpg');
}
#DragonDriftway {
  background-image: url('../images/dragon_driftway.jpg');
}
/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}